name: Build Docker images

on:
  push:
    branches: ["main"]

jobs:
  build-and-push-dockerfile-image:
    concurrency: production
    runs-on: ubuntu-latest
    environment: production

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          build-args: |
            NEXT_PUBLIC_CONVEX_URL=${{ vars.NEXT_PUBLIC_CONVEX_URL }}
          tags: |
            ghcr.io/evanrooijen/tiko:latest
          platforms: linux/amd64

      - name: Trigger Dokploy Deployment
        run: |
          curl -X 'POST' \
          "https://${{ vars.DOKPLOY_URL }}/api/trpc/application.deploy" \
          -H 'accept: application/json' \
          -H "x-api-key: ${{ secrets.DOKPLOY_AUTH_TOKEN }}" \
          -H 'Content-Type: application/json' \
          -d "{
              "json":{
                  "applicationId": "${{ secrets.DOKPLOY_APPLICATION_ID }}"
              }
          }"
